.jumbotron{
    background-image: url("/static/img/about/SCAC.png");
    background-position: center;
    background-size : cover;
    height: 500px;
}

.p{
    margin-top: 100px;
    padding-bottom: 100px;
}


