{% extends "base.html" %}
{% load static %}



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title> {{judul}}</title>
</head>
<body>
    <h1>{{subjudul}}</h1>
    <img src="{% static 'organisasi/img/BINUS_WEB.png' %}" alt="">
    <p> This website is built for you!</p>
    <p> Ini adalah halaman organisasi!</p>

    <ul>
        <ul>
            <li><a href="/" title="">home</a></li>
            <li><a href="/about" title="">about</a></li>
            <li><a href="/chat" title="">chat</a></li>
            
        </ul>
    </ul>
</body>
</html> -->